name: Python application
on:
  push:
    branches:
      - "master" 

jobs:
  test_build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache Implementation
        uses: actions/cache@v2
        with: 
          path: ~/ .cache/pip
          key : ${{ runner.os }}-pip-${{ hashFiles('**/requierments.txt') }}
          restore-keys: |
              ${{ runner.os }}-pip- 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: lutan14
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id  : docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: lutan14/cicd:v1.2

      # - run  : docker build -t lutan14/cicd:latest .
      # - run  : docker login -u lutan14 -p ${{secrets.DOCKER_PASSWORD}}
      # - run  : docker push lutan14/cicd:latest